body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgb(6, 102, 46);
  color: white;
  text-align: center;
}