body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #06662e;
  color: white;
  text-align: center;
}

#selectStateButton {
  padding: 3px 10px;
  color: white;
  background-color: #06662e;
  border-radius: 5px;
}

#listHeader {
  font-size: 1.3em;
  margin: 50px 0 20px 0;
  padding: 0 0 10px  0;
  border-bottom: 3px solid black;
}

#listBody {
  height: 100px;
  overflow: scroll;
}

.campgroundItem {
  /* height: 2em; */
  padding: .5em;
  vertical-align: middle;
}
